
{{outlet}}

<div class="container comisiones">
	<div class="heading">
		<h1>Comisiones</h1>
		<div class="-actions">
			<div class="sort">
				{{fa-icon 'filter'}}
			</div>
		</div>
	</div>
	<section class="scroll">
		<div class="-list">
			{{#each model as |citacion|}}
					<div class="citacion-item">
						{{time-format citacion.fecha '[El] dddd Do [de] MMMM [de] YYYY [a las] h:mm'}}<br> {{citacion.fk_comision_cabecera.datos.nombre}} <br> {{citacion.estado}} <br> {{citacion.resumen}} <br> {{citacion.observaciones}} <br> <small>({{citacion.fk_lugar.nombre}} | {{citacion.fk_lugar.ubicacion}})</small>
						<br>
					</div>
			{{/each}}
		</div>
		{{infinity-loader infinityModel=model targetScroll=".scroll"}}
	</section>
</div>


